{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2 style="display:inline-block">{{loc}}</h2>

<div class="btn-group" style="display:inline-block; margin: -10px 0 0px 15px;">
  <button type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown">
    Get JSON <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url 'location_detail' loc.slug %}?format=daily_json" target="_blank">All JSON</a></li>
    <li><a href="{% url 'location_detail' loc.slug %}?format=weekly_json" target="_blank">Weekly JSON</a></li>
  </ul>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>SitRep</th>
                <th>cases cum</th>
                <th>new cases</th>
                <th>deaths cum</th>
                <th>new deaths</th>
                <th>hcw cases cum</th>
                <th>hcw new cases</th>
                <th>hcw deaths cum</th>
                <th>hcw new deaths</th>
            </tr>
        </thread>
        <tbody>
            {% for entry in location %}
                <tr>
                    <td>{{entry.sit_rep}}</td>
                    <td>{{entry.cases_cum}}</td>
                    <td>{{entry.cases_new_total}}</td>
                    <td>{{entry.total_deaths_all}}</td>
                    <td>{{entry.show_new_death_num}}</td> <!-- change from 'deaths' -->
                    <td>{{entry.hcw_cases_cum}}</td>
                    <td>{{entry.hcw_cases_new}}</td>
                    <td>{{entry.hcw_deaths_cum}}</td>
                    <td>{{entry.hcw_deaths_new}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
