{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Total deaths</th>
                <th>New Weekly DEATHS</th>
                <th>Pct change DEATHS last 7 days</th>
                <th>New Weekly CASES</th>
                <th>Pct change CASES last 7 days</th>
                <th>JSON</th>
            </tr>
        </thread>
        <tbody>
            {% for loc in locations %}
                <tr class="{% if loc.name == 'National' %}primary{% endif %}">
                    <td><a href="{% url 'location_detail' loc.slug %}">{{loc}}</a></td>
                    <td>{{loc.death_total.total_deaths_all}}</td>
                    <td>{{loc.new_weekly_deaths}}</td>
                    <td class="{% if loc.death_pct_change == 'N/A' %}default{% elif loc.death_pct_change > 0 %}danger{% elif loc.death_pct_change <= 0 %}success{% endif %}">{{loc.death_pct_change}}{% if loc.death_pct_change != 'N/A' %}%{% endif %}</td>
                    <td>{{loc.new_weekly_cases}}</td>
                    <td class="{% if loc.cases_pct_change == 'N/A' %}default{% elif loc.cases_pct_change > 0 %}danger{% elif loc.cases_pct_change <= 0 %}success{% endif %}">{{loc.cases_pct_change}}{% if loc.cases_pct_change != 'N/A' %}%{% endif %}</td>
                    <td><a href="{% url 'location_detail' loc.slug %}?format=json" target="_blank" class="btn btn-success">Get JSON</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
