{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>Latest SitRep: {{us_date}}</h2>
<br />
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Total deaths</th>
                <th>New Weekly DEATHS</th>
                <th>Pct change DEATHS last 7 days</th>
                <th>Total cases</th>
                <th>New Weekly CASES</th>
                <th>Pct change CASES last 7 days</th>
                <th>JSON</th>
            </tr>
        </thread>
        <tbody>
            {% for loc in locations %}
                {% if loc.name == 'National' %}
                    <tr>
                        <td><a href="{% url 'location_detail' loc.slug %}">{{loc}}</a></td>
                        <td>{{loc.dc_totals.total_deaths_all}}</td>
                        <td>{{loc.new_weekly_deaths}}</td>
                        <td class="{% if loc.death_pct_change == 'N/A' %}default{% elif loc.death_pct_change > 0 %}list-group-item-danger{% elif loc.death_pct_change <= 0 %}list-group-item-success{% endif %}">{{loc.death_pct_change}}{% if loc.death_pct_change != 'N/A' %}%{% endif %}</td>
                        <td>{{loc.dc_totals.cases_cum}}</td>
                        <td>{{loc.new_weekly_cases}}</td>
                        <td class="{% if loc.cases_pct_change == 'N/A' %}default{% elif loc.cases_pct_change > 0 %}list-group-item-danger{% elif loc.cases_pct_change <= 0 %}list-group-item-success{% endif %}">{{loc.cases_pct_change}}{% if loc.cases_pct_change != 'N/A' %}%{% endif %}</td>
                        <td><a href="{% url 'location_detail' loc.slug %}?format=json" target="_blank" class="btn btn-sm btn-success">Get JSON</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% for loc in locations %}
                {% if loc.name != 'National' %}
                    <tr>
                        <td><a href="{% url 'location_detail' loc.slug %}">{{loc}}</a></td>
                        <td>{{loc.dc_totals.total_deaths_all}}</td>
                        <td>{{loc.new_weekly_deaths}}</td>
                        <td class="{% if loc.death_pct_change == 'N/A' %}default{% elif loc.death_pct_change > 0 %}list-group-item-danger{% elif loc.death_pct_change <= 0 %}list-group-item-success{% endif %}">{{loc.death_pct_change}}{% if loc.death_pct_change != 'N/A' %}%{% endif %}</td>
                        <td>{{loc.dc_totals.cases_cum}}</td>
                        <td>{{loc.new_weekly_cases}}</td>
                        <td class="{% if loc.cases_pct_change == 'N/A' %}default{% elif loc.cases_pct_change > 0 %}list-group-item-danger{% elif loc.cases_pct_change <= 0 %}list-group-item-success{% endif %}">{{loc.cases_pct_change}}{% if loc.cases_pct_change != 'N/A' %}%{% endif %}</td>
                        <td><a href="{% url 'location_detail' loc.slug %}?format=json" target="_blank" class="btn btn-sm btn-success">Get JSON</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
