{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2 style="display:inline-block">SitReps</h2>
<p>Click to download csv.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
            </tr>
        </thread>
        <tbody>
            {% for sr in sitreps %}
                <tr>
                    <td><a href="{% url 'sitreps_detail' sr.date %}" target="_blank">{{sr.date}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
